<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <meta name="description" content="Artificial Intelligence Now Empowers Genetic Literature Study.">
    <title>IntelliGene - Intelligent Search Engine For Genetic Literature Study</title>
    <link rel="stylesheet" href="/lib/bootstrap-4.0.0-alpha.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>

</body>
</html>