$ig-blue: rgba(40, 181, 201, 0.8);
$ig-gray: rgb(38, 38, 38);
$landing-img: url("../img/background3.png");
$font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
body {
  font-family: $font-family;
}

nav {
  a {
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 0px;
  }

  a:hover, a.active {
    color: $ig-blue;
    border-bottom: solid 1px $ig-blue;
  }
  .navbar-nav {
    float: right;
  }

}

.landing-page {
  padding-top: 12rem;
  padding-bottom: 12rem;
  margin-bottom: 0;
  background: $landing-img no-repeat center fixed;
  background-size: cover;
  img {
    width: 60%;
  }
  .description1 {
    font-family: "Avenir Next Ultra Light";
    font-size: 22px;
    color: whitesmoke;
    position: relative;
    padding-top: 10px;
  }

  .description2 {
    font-family: "Helvetica Neue";
    font-size: 30px;
    font-weight: 100;
    color: rgb(128, 132, 143);
    margin-top: 50px;
  }
  .ig-btn-pink {
    background-color: deeppink;
    opacity: 0.8;
    color: white;
  }

  .ig-btn-pink:hover, .ig-btn-pink.active {
    opacity: 0.6;
  }
}

.introduction {
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-family: "Avenir Next Ultra Light";
  background-color: $ig-gray;
  text-align: center;
  img {
    width: 160px;
  }
  h2 {
    margin-top: 3rem;
    font-weight: 500;
    font-size: 36px;
    color: rgb(190, 190, 190);
  }
  p {
    font-family: "Helvetica Neue";
    text-align: justify;
    font-size: 24px;
    font-weight: 200;
    margin-top: 1rem;

  }
}

.feature {
  color: gray;
  padding-top: 30px;
  .text {
    text-align: center;

    h2 {
      font-size: 30px;
      font-weight: 200;
      margin-top: 30px;
    }
    a {
      color: $ig-blue;
    }
  }
  img.symbol {
    width: 100%;
  }
  h3 {
    font-family: "Helvetica Neue";
    font-size: 34px;
    font-weight: 100;
    color: rgb(127, 127, 127);
    margin-top: 10px;
  }

  h2 {
    font-family: "Avenir Next Ultra Light";
    font-size: 44px;
    font-weight: bolder;
    color: rgb(89, 89, 89);
  }

  .description {
    font-family: "Helvetica Neue";
    line-height: 150%;
    font-size: 30px;
    color: rgb(89, 89, 89);
    margin-top: 100px;
    font-weight: 100;

    p {
      text-align: center;
    }

    .number {
      font-size: 56px;
    }
  }
}

#footer{
  text-align: center;
  padding-top: 30px;
  a{
    color: $ig-blue;
  }
  background: $ig-gray;
}
