$ig-blue: rgba(40, 181, 201, 1);
$ig-gray: rgb(38, 38, 38);
$ig-black: rgb(39, 39, 39);
$ig-blue-primary: rgb(2, 117, 219);
$landing-img: url("../img/background7.png");
$font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
body {
  font-family: $font-family;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
  a {
    color: rgba(90, 90, 90, 0.5);
    padding: 5px 0px;
  }

  a:hover, a.active {
    color: $ig-blue-primary;
    //border-bottom: solid 1px $ig-blue;
  }
  .navbar-nav {
    float: right;
  }

}

.landing-page {
  min-height: 100vh;
  padding-top: 12rem;
  padding-bottom: 12rem;
  margin-bottom: 0;
  background: $landing-img no-repeat fixed;
  background-size: cover;
  img {
    width: 25%;
  }
  .description1 {
    font-family: "Avenir Next";
    font-size: 46px;
    color: whitesmoke;
    position: relative;
    padding-top: 50px;
  }

  .description2 {
    font-family: "Helvetica Neue";
    font-size: 30px;
    font-weight: 100;
    color: rgb(128, 132, 143);
    margin-top: 50px;
  }
  .ig-btn-pink {
    background-color: deeppink;
    opacity: 0.8;
    color: white;
  }

  .ig-btn-pink:hover, .ig-btn-pink.active {
    opacity: 0.6;
  }
}

.introduction {
  padding-top: 6rem;
  padding-bottom: 6rem;
  font-family: "Avenir Next";
  background: $landing-img;
  color: white;
  text-align: center;
  img {
    width: 160px;
  }
  h2 {
    margin-top: 3rem;
    font-weight: 500;
    font-size: 36px;
    padding-bottom: 10px;
  }
  p {
    text-align: justify;
    font-size: 24px;
    font-weight: 200;
    margin-top: 1rem;

  }
}

.feature {
  color: gray;
  padding-top: 60px;
  .text {
    font-family: "Helvetica Neue";
    text-align: center;

    h2 {
      font-size: 30px;
      font-weight: 500;
      margin-top: 30px;
    }
    a {
      color: $ig-blue;
    }

    p{
      font-size: 22px;
      font-weight: 200;
    }
    .container{
      border: solid 1px rgba(255,255,255,0.6);
      padding-top: 20px;
    }
  }
  img.symbol {
    width: 100%;
  }
  h3 {
    font-family: "Avenir Next";
    font-size: 34px;
    font-weight: 100;
    color: rgb(127, 127, 127);
    margin-top: 10px;
  }

  h2 {
    font-family: "Avenir Next";
    font-size: 44px;
    font-weight: 500;
    color: rgb(89, 89, 89);
  }

  .description {
    font-family: "Helvetica Neue";
    line-height: 150%;
    font-size: 30px;
    color: rgb(89, 89, 89);
    margin-top: 70px;
    font-weight: 100;

    p {
      text-align: center;
    }

    .number {
      font-size: 56px;
    }
  }
}

.footer {
  text-align: center;
  padding-top: 30px;
  a {
    color: $ig-blue-primary;
  }
  background: $landing-img bottom;
}
