<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <meta name="description" content="Artificial Intelligence Now Empowers Genetic Literature Study.">
    <title>IntelliGene - Intelligent Search Engine For Genetic Literature Study</title>
    <link rel="stylesheet" href="/lib/bootstrap-4.0.0-alpha.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/font-awesome-4.5.0/css/font-awesome.css">
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>

<nav class="navbar navbar-full navbar-fixed-top">
    <div class="container">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse"
                data-target="#collapsingNavbar">
            &#9776;
        </button>
        <div class="nav navbar-nav collapse navbar-toggleable-xs" id="collapsingNavbar">
            <a class="nav-item nav-link active" href="#"><i class="fa fa-modx"> Home</i></a>
            <a class="nav-item nav-link" href="#"><i class="fa"> Services</i></a>
            <a class="nav-item nav-link" href="#"><i class="fa"> Our Story</i></a>
            <a class="nav-item nav-link" href="#"><i class="fa"> Contact</i></a>
        </div>
    </div>
</nav>

<section class="landing-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12"><img src="/img/logo.png" alt="IntelliGene logo" class="logo"/></div>
                </div>
                <h1 style="display: none">IntelliGene</h1>

                <p class="description1">Artificial Intelligence Empowers Genetic Literature Study Now.</p>

                <p class="description2">Stop reading literature articles alone.</p>

                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <button class="btn btn-primary btn-block">PRE-REGISTER</button>
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <button class="btn ig-btn-pink btn-block"
                                href="mailto:support@intelligene.com"
                                target="_top">CONTACT US
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
</section>
<section class="introduction">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <img src="/img/intro-logo.png" alt="Intelligene Introduction Logo">

            <h2>Ready for Intelligent Literature Study</h2>

            <p class="text-muted">Reading and understanding research articles is a master of practice. To handle
                the explosion of discoveries and intense research competition, you need an intelligent literature
                study
                tool to champion in the information overload. With the latest artificial intelligence technology, we
                are
                building a genetics literature platform for academic researchers, biotech companies and clinical
                practitioners to see the bigger picture in the field and grasp the key insights in an automated and
                crowdsourcing manner.</p>
        </div>
    </div>
</section>

<section class="feature">
    <div class="container">
        <div class="row text">
            <div class="col-lg-4">
                <img class="img-circle"
                     src="/img/searchicon.png"
                     alt="Generic placeholder image" width="140" height="140">

                <h2>Search Minion: Geni</h2>

                <p>Ask your question, Geni will tell you articles that exactly answer the question.</p>

                <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle"
                     src="/img/bigideasicon.jpg"
                     alt="Generic placeholder image" width="140" height="140">

                <h2>Hall of Insights</h2>

                <p>Share your insights about any published research article, be part of the history.</p>

                <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle"
                     src="/img/papericon.png"
                     alt="Generic placeholder image" width="160" height="160">

                <h2>Research Hyperdrive</h2>

                <p>Click on the interesting result, all related discoveries reach you, faster than ever.</p>

                <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</section>

<section class="feature" style="margin-bottom: 60px">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <img class="symbol" src="/img/big-data.jpg" alt="Academic Research Literature Relevance">
            </div>
            <div class="col-md-7 col-sm-12" style="padding-top: 70px">
                <h2>Ask Your Question, And Search</h2>

                <h3>Collaboration Between Human and A.I.</h3>

                <div class="row description">
                    <div class="col-md-6">
                        <p>Annotated Articles</p>

                        <p class="number">5,304</p>
                    </div>
                    <div class="col-md-6">
                        <p>Digested Articles</p>

                        <p class="number">13,011</p>
                    </div>
                </div>
                <!--<a class="btn btn-red" style="margin-top: 40px">Learn More</a>-->
            </div>
        </div>
    </div>
</section>
<section id="footer">
    <div class="container">
        <div class="col-sm-12">
            <p class="text-center">
                <a href="#about">
                    <i class="fa fa-info-circle"></i> About Us
                </a>&nbsp;|&nbsp;
                <a id="contact-us" title="support@intelligene.com" href="mailto:support@intelligene.com"
                   target="_blank">
                    <i class="fa fa-email-square"></i> Contact Us</a>
                <br>
            </p>

            <p class="text-center text-muted">Copyright © intelligene.com, All rights reserved.</p>
        </div>
    </div>
</section>
</body>
<script type="application/javascript" src="/lib/jquery/jquery-1.11.3.min.js"></script>
<script type="application/javascript" src="/lib/bootstrap-4.0.0-alpha.2/dist/js/bootstrap.js"></script>
</html>