<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Tag Tool</title>
    <link rel="stylesheet" href="/lib/bootstrap-4.0.0-alpha.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table table-bordered table-hover">
        <tr>
            <td>#</td>
            <td>PubMedID</td>
            <td>Tag</td>
            <td>Title</td>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ (current_page-1)*100+loop.index }}</td>
                <td><a target="_blank"
                       href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{ article.pubMed_id }}">{{ article.pubMed_id }}</a>
                </td>
                <td>
                    <a class="btn btn-sm {% if article.pubMed_id in tagged_id_list %}btn-success {% else %}btn-primary{% endif %}"
                       data-toggle="modal" id="{{ article.pubMed_id }}"
                       data-target="#{{ target_modal }}" data-id="{{ article.pubMed_id }}">TAG</a></td>
                <td>{{ article.title }}</td>

            </tr>
        {% endfor %}
    </table>
    <div class="row">
        <div class="col-md-6"><a {% if current_page - 1 > 0 %} href="/tag/sentence/{{ current_page - 1 }} {% endif %}"
                class="btn btn-info btn-block">上一页</a></div>
        <div class="col-md-6"><a href="/tag/sentence/{{ current_page + 1 }}" class="btn btn-info btn-block">再来一百!</a>
        </div>
    </div>
</div>

<div class="modal fade modal" id="wordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade modal" id="sentenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

</body>
<script type="application/javascript" src="/lib/jquery/jquery-1.11.3.min.js"></script>
<script src="/lib/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
<script type="application/javascript">
    $("#wordModal").on({
                'show.bs.modal': function (evt) {
                    var _this = this;
                    $.ajax({
                        url: "/tag_one/" + $(evt.relatedTarget).data('id'),
                        method: 'get',
                        dataType: 'json',
                        success: function (response) {
                            $(_this).find('.modal-content').html(response.data).parent().fadeIn(300);
                        }
                    })
                },
                'shown.bs.modal': function (evt) {
                    var _this = this;
                    $(_this).find("form").on({
                        'submit': function (e) {
                            $.ajax({
                                url: "/tag",
                                method: "post",
                                dataType: 'json',
                                data: $("#modal-form").serialize(),
                                success: function (response) {
                                    var pubmed_id = response.data.id;
                                    $("#" + pubmed_id).removeClass("btn-primary").addClass("btn-success");
                                    $("#wordModal").modal('hide');
                                }
                            });
                            return false;
                        }
                    })
                }
            }
    )

    $("#sentenceModal").on({
        'show.bs.modal': function (evt) {
            var _this = this;
            $.ajax({
                url: "/tag/sentence/id/" + $(evt.relatedTarget).data('id'),
                method: 'get',
                dataType: 'json',
                success: function (response) {
                    $(_this).find('.modal-content').html("")
                    $(_this).find('.modal-content').html(response.data).parent().fadeIn(300);
                }
            })
        },

        'shown.bs.modal': function (evt) {
            var _this = this;
            $(_this).find("form").on({
                'submit': function (e) {
                    $.ajax({
                        url: "/tag/sentence/id/" + $(evt.relatedTarget).data('id'),
                        method: "post",
                        dataType: 'json',
                        data: $("#modal-form").serialize(),
                        success: function (response) {
                            var pubmed_id = response.data.id;
                            $("#" + pubmed_id).removeClass("btn-primary").addClass("btn-success");
                            $("#sentenceModal").modal('hide');
                        }
                    });
                    return false;
                }
            })
        }
    })
</script>
</html>